.category {
  font-size: 62.5%;
  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: minmax(calc(100vh - var(--navbarHeight)), min-content);
  background: lightgrey;
  justify-content: center;
  padding-top: 15em;
}
