.Navbar{
    height: 15vh;
    width: 100vw;
    background: lightgreen;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.Logo{
    box-sizing: border-box;
    padding: 0 40px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.navItems{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.navProducts{

    padding:0px 30px;
}